*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
.section-1{
    background-image: url(./img/Img\ Overlay.png), url(./img/Img.webp) ;
    background-repeat: no-repeat ,no-repeat;
    background-size: cover;
    padding: 200px 0;
    
}
.conteiner{

}
.s1-h1{
font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
margin: 0 auto;
/* /* Ефективні рішення для вашого бізнесу */
width: 696px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
color: #FFFFFF;
}
.s1-button{
    font-family: 'Roboto';
    
width: 216px;
height: 50px;
background-color: #2196F3;
color: #FFFFFF;
display: block;
margin: 0 auto;
/* Замовити послугу */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.06em;
color: #FFFFFF;
margin-top:30px ;
}